# Ignore Mac system files
.DS_store

# Ignore token.py, if present
token.py

# Ignore Python Module Cache
__pycache__/*

# Ignore 'downloads' folder
*downloads*

# Ignore log files
*.log

# Ignore Visual Studio Code Workspace
*.code-workspace

# Ignore conf file
zoom-recording-downloader.conf

# Ignore vscode settings
.vscode

# Ignore Python virtual environment
venv

# Ignore Python bytecode
*.pyc

# Ignore Python cache
__pycache__

# Ignore flake8 cache
.flake8

# Ignore Idea files
.idea

# Ignore Zoom recording downloader token
token.json

# Ignore Zoom recording downloader credentials
client_secret.json
